{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}

{% block content %}
    <div class="container-fluid register">

        <div class="row">
            <div class="card text-white bg-secondary col-md-6 offset-md-3 col-10 offset-1 cancel-col-padding">
                <div class="card-header">Modifier mon mot de passe</div>
                <div class="card-body">
                   <p><a href="{{ path('account') }}">Retourner à mon compte</a></p>
                    {% if notification %}
                        <div class="alert alert-info">{{ notification }}</div>
                    {% endif %}
                    {{ form(form) }}
                    <div class="form-group">
                        <label>Votre unité de business :</label>
                        <select name="businessUnits[]"
                                class="form-select col-md-12"
                        >
                            {% for businessUnit in businessUnits %}
                                <option value="{{ businessUnit.id }}">{{ businessUnit.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Votre Rôle :</label>
                                <select name="roles[]"
                                        class="form-select col-md-12"
                                >
                                    {% for role in roles %}
                                        <option value="{{ role.id }}">{{ role.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Votre projet :</label>
                                <select
                                        name="projects[]"
                                        class="form-select col-md-12"
                                >
                                    {% for project in projects %}
                                        <option value="{{ project.id }}">{{ project.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <label>Vos compétences :</label>
                    <div class="form_skills_container">
                        {% for skill in skills %}
                            <label for="skill-{{ skill.id }}" class="form-check form-check-custom-radius">
                                <input
                                        id="skill-{{ skill.id }}"
                                        type="checkbox"
                                        name="skills[]"
                                        value="{{ skill.id }}"
                                />
                                {{ skill.name }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock %}


