{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="card text-white bg-secondary col-md-6 offset-md-3 col-10 offset-1 cancel-col-padding">
                <div class="card-header">Inscription</div>
                <div class="card-body">
                    <div class="stepwizard ">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step">
                                <a href="#step-1" type="button" class="btn btn-primary">1</a>
                                <p>Step 1</p>
                            </div>
                            <div class="stepwizard-step">
                                <a href="#step-2" type="button" class="btn " disabled="disabled">2</a>
                                <p>Step 2</p>
                            </div>
                        </div>
                    </div>

                    <form role="form" action="" method="post">
                        <div class="row setup-content" id="step-1">
                            <div class="col-md-12">
                                {{ form_start(form) }}
                                {{ form_row(form.avatar) }}
                                {{ form_row(form.firstname) }}
                                {{ form_row(form.lastname) }}
                                {{ form_row(form.email) }}
                                {{ form_row(form.password) }}
                                {{ form_row(form.password_confirm) }}
                                <button class="btn btn-primary  btn-md pull-right" type="button" id="nextBtn" >Next</button>
                            </div>
                        </div>
                        <div class="row setup-content" id="step-2">
                                <div class="col-md-12">
                                    {{ form_row(form.role) }}
                                    {{ form_row(form.skills, {'attr': {'class': 'form_skills_container'} }) }}
                                    {{ form_row(form.bu) }}
                                    {{ form_row(form.project) }}
                                    {{ form_row(form.submit, {'attr': {'class': 'bg-primary'} }) }}
                                    {{ form_end(form) }}
                                </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>



{% endblock %}
